src/Greg.Xrm.Mcp.FormEngineer/Resources/FilterXml.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="filter">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<!-- -->
				<xs:element ref="condition" minOccurs="0" maxOccurs="500" />
				<xs:element ref="filter" minOccurs="0" maxOccurs="unbounded" />
			</xs:choice>
			<!-- -->
			<xs:attribute name="type" default="and">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="and" />
						<xs:enumeration value="or" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="isquickfindfields" type="xs:boolean" />
		</xs:complexType>
	</xs:element>
	<xs:element name="condition">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<!-- -->
				<!--
		The attribute "value" is used for all operators that compare to a single value (for example, eq).
		The element "value" is used for operators that compare to multiple values (for example, in).
		Some operators require neither the attribute "value" or the element "value" (for example, null).
	-->
				<xs:element name="value" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="uiname" type="xs:string" />
								<xs:attribute name="uitype" type="xs:string" />
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<!-- -->
			<xs:attribute name="column" type="xs:string" />
			<xs:attribute name="attribute" type="xs:string"></xs:attribute>
			<xs:attribute name="entityname" type="xs:string"></xs:attribute>
			<xs:attribute name="operator" use="required" type="operator"></xs:attribute>
			<!--
		The attribute "value" is used for all operators that compare to a single value (for example, eq).
		The element "value" is used for operators that compare to multiple values (for example, in).
		Some operators require neither the attribute "value" or the element "value" (for example, null).
	-->
			<xs:attribute name="value" type="xs:string"></xs:attribute>
			<xs:attribute name="aggregate" type="AggregateType"></xs:attribute>
			<xs:attribute name="rowaggregate" type="RowAggregateType"></xs:attribute>
			<xs:attribute name="alias" type="xs:string"></xs:attribute>
			<xs:attribute name="uiname" />
			<xs:attribute name="uitype" />
			<xs:attribute name="uihidden" type="TrueFalse01Type" />
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="TrueFalse01Type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="0" />
			<xs:enumeration value="1" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="operator">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="eq" />
			<xs:enumeration value="neq" />
			<xs:enumeration value="ne" />
			<xs:enumeration value="gt" />
			<xs:enumeration value="ge" />
			<xs:enumeration value="le" />
			<xs:enumeration value="lt" />
			<xs:enumeration value="like" />
			<xs:enumeration value="not-like" />
			<xs:enumeration value="in" />
			<xs:enumeration value="not-in" />
			<xs:enumeration value="between" />
			<xs:enumeration value="not-between" />
			<xs:enumeration value="null" />
			<xs:enumeration value="not-null" />
			<xs:enumeration value="yesterday" />
			<xs:enumeration value="today" />
			<xs:enumeration value="tomorrow" />
			<xs:enumeration value="last-seven-days" />
			<xs:enumeration value="next-seven-days" />
			<xs:enumeration value="last-week" />
			<xs:enumeration value="this-week" />
			<xs:enumeration value="next-week" />
			<xs:enumeration value="last-month" />
			<xs:enumeration value="this-month" />
			<xs:enumeration value="next-month" />
			<xs:enumeration value="on" />
			<xs:enumeration value="on-or-before" />
			<xs:enumeration value="on-or-after" />
			<xs:enumeration value="last-year" />
			<xs:enumeration value="this-year" />
			<xs:enumeration value="next-year" />
			<xs:enumeration value="last-x-hours" />
			<xs:enumeration value="next-x-hours" />
			<xs:enumeration value="last-x-days" />
			<xs:enumeration value="next-x-days" />
			<xs:enumeration value="last-x-weeks" />
			<xs:enumeration value="next-x-weeks" />
			<xs:enumeration value="last-x-months" />
			<xs:enumeration value="next-x-months" />
			<xs:enumeration value="olderthan-x-months" />
			<xs:enumeration value="olderthan-x-years" />
			<xs:enumeration value="olderthan-x-weeks" />
			<xs:enumeration value="olderthan-x-days" />
			<xs:enumeration value="olderthan-x-hours" />
			<xs:enumeration value="olderthan-x-minutes" />
			<xs:enumeration value="last-x-years" />
			<xs:enumeration value="next-x-years" />
			<xs:enumeration value="eq-userid" />
			<xs:enumeration value="ne-userid" />
			<xs:enumeration value="eq-userteams" />
			<xs:enumeration value="eq-useroruserteams" />
			<xs:enumeration value="eq-useroruserhierarchy" />
			<xs:enumeration value="eq-useroruserhierarchyandteams" />
			<xs:enumeration value="eq-businessid" />
			<xs:enumeration value="ne-businessid" />
			<xs:enumeration value="eq-userlanguage" />
			<xs:enumeration value="this-fiscal-year" />
			<xs:enumeration value="this-fiscal-period" />
			<xs:enumeration value="next-fiscal-year" />
			<xs:enumeration value="next-fiscal-period" />
			<xs:enumeration value="last-fiscal-year" />
			<xs:enumeration value="last-fiscal-period" />
			<xs:enumeration value="last-x-fiscal-years" />
			<xs:enumeration value="last-x-fiscal-periods" />
			<xs:enumeration value="next-x-fiscal-years" />
			<xs:enumeration value="next-x-fiscal-periods" />
			<xs:enumeration value="in-fiscal-year" />
			<xs:enumeration value="in-fiscal-period" />
			<xs:enumeration value="in-fiscal-period-and-year" />
			<xs:enumeration value="in-or-before-fiscal-period-and-year" />
			<xs:enumeration value="in-or-after-fiscal-period-and-year" />
			<xs:enumeration value="begins-with" />
			<xs:enumeration value="not-begin-with" />
			<xs:enumeration value="ends-with" />
			<xs:enumeration value="not-end-with" />
			<xs:enumeration value="under"/>
			<xs:enumeration value="eq-or-under" />
			<xs:enumeration value="not-under"/>
			<xs:enumeration value="above" />
			<xs:enumeration value="eq-or-above" />
			<xs:enumeration value="contain-values" />
			<xs:enumeration value="not-contain-values" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AggregateType">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="count" />
			<xs:enumeration value="countcolumn" />
			<xs:enumeration value="sum" />
			<xs:enumeration value="avg" />
			<xs:enumeration value="min" />
			<xs:enumeration value="max" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RowAggregateType">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="countchildren" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>